* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Work Sans", sans-serif;
  color: #333;
}

.container {
  max-width: 1440px;
  width: 95%;
  margin: 0 auto;
}
